App_WebReferences/treasureWS/TreasureWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setPathPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Point" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Point">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Lat" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Lng" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="setPathPointResponse">
        <s:complexType />
      </s:element>
      <s:element name="setPOI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="poi" type="tns:POI" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="POI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="P" type="tns:Point" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setPOIResponse">
        <s:complexType />
      </s:element>
      <s:element name="setTargetPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Point" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setTargetPointResponse">
        <s:complexType />
      </s:element>
      <s:element name="getPathList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPathListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPathListResult" type="tns:ArrayOfPoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Point" nillable="true" type="tns:Point" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPOIList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPOIListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPOIListResult" type="tns:ArrayOfPOI" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPOI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="POI" nillable="true" type="tns:POI" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTarget">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTargetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTargetResult" type="tns:Point" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDistance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Point" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDistanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDistanceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="setPathPointSoapIn">
    <wsdl:part name="parameters" element="tns:setPathPoint" />
  </wsdl:message>
  <wsdl:message name="setPathPointSoapOut">
    <wsdl:part name="parameters" element="tns:setPathPointResponse" />
  </wsdl:message>
  <wsdl:message name="setPOISoapIn">
    <wsdl:part name="parameters" element="tns:setPOI" />
  </wsdl:message>
  <wsdl:message name="setPOISoapOut">
    <wsdl:part name="parameters" element="tns:setPOIResponse" />
  </wsdl:message>
  <wsdl:message name="setTargetPointSoapIn">
    <wsdl:part name="parameters" element="tns:setTargetPoint" />
  </wsdl:message>
  <wsdl:message name="setTargetPointSoapOut">
    <wsdl:part name="parameters" element="tns:setTargetPointResponse" />
  </wsdl:message>
  <wsdl:message name="getPathListSoapIn">
    <wsdl:part name="parameters" element="tns:getPathList" />
  </wsdl:message>
  <wsdl:message name="getPathListSoapOut">
    <wsdl:part name="parameters" element="tns:getPathListResponse" />
  </wsdl:message>
  <wsdl:message name="getPOIListSoapIn">
    <wsdl:part name="parameters" element="tns:getPOIList" />
  </wsdl:message>
  <wsdl:message name="getPOIListSoapOut">
    <wsdl:part name="parameters" element="tns:getPOIListResponse" />
  </wsdl:message>
  <wsdl:message name="getTargetSoapIn">
    <wsdl:part name="parameters" element="tns:getTarget" />
  </wsdl:message>
  <wsdl:message name="getTargetSoapOut">
    <wsdl:part name="parameters" element="tns:getTargetResponse" />
  </wsdl:message>
  <wsdl:message name="getDistanceSoapIn">
    <wsdl:part name="parameters" element="tns:getDistance" />
  </wsdl:message>
  <wsdl:message name="getDistanceSoapOut">
    <wsdl:part name="parameters" element="tns:getDistanceResponse" />
  </wsdl:message>
  <wsdl:portType name="TreasureWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setPathPoint">
      <wsdl:input message="tns:setPathPointSoapIn" />
      <wsdl:output message="tns:setPathPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setPOI">
      <wsdl:input message="tns:setPOISoapIn" />
      <wsdl:output message="tns:setPOISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setTargetPoint">
      <wsdl:input message="tns:setTargetPointSoapIn" />
      <wsdl:output message="tns:setTargetPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPathList">
      <wsdl:input message="tns:getPathListSoapIn" />
      <wsdl:output message="tns:getPathListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPOIList">
      <wsdl:input message="tns:getPOIListSoapIn" />
      <wsdl:output message="tns:getPOIListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTarget">
      <wsdl:input message="tns:getTargetSoapIn" />
      <wsdl:output message="tns:getTargetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDistance">
      <wsdl:input message="tns:getDistanceSoapIn" />
      <wsdl:output message="tns:getDistanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TreasureWSSoap" type="tns:TreasureWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPathPoint">
      <soap:operation soapAction="http://tempuri.org/setPathPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPOI">
      <soap:operation soapAction="http://tempuri.org/setPOI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTargetPoint">
      <soap:operation soapAction="http://tempuri.org/setTargetPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPathList">
      <soap:operation soapAction="http://tempuri.org/getPathList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOIList">
      <soap:operation soapAction="http://tempuri.org/getPOIList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTarget">
      <soap:operation soapAction="http://tempuri.org/getTarget" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDistance">
      <soap:operation soapAction="http://tempuri.org/getDistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TreasureWSSoap12" type="tns:TreasureWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPathPoint">
      <soap12:operation soapAction="http://tempuri.org/setPathPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPOI">
      <soap12:operation soapAction="http://tempuri.org/setPOI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTargetPoint">
      <soap12:operation soapAction="http://tempuri.org/setTargetPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPathList">
      <soap12:operation soapAction="http://tempuri.org/getPathList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPOIList">
      <soap12:operation soapAction="http://tempuri.org/getPOIList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTarget">
      <soap12:operation soapAction="http://tempuri.org/getTarget" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDistance">
      <soap12:operation soapAction="http://tempuri.org/getDistance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TreasureWS">
    <wsdl:port name="TreasureWSSoap" binding="tns:TreasureWSSoap">
      <soap:address location="http://proj.ruppin.ac.il/mobile/LBS_WS/TreasureWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TreasureWSSoap12" binding="tns:TreasureWSSoap12">
      <soap12:address location="http://proj.ruppin.ac.il/mobile/LBS_WS/TreasureWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>